/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

blockquote,
q {
	quotes: "" "";

	&::before,
	&::after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

/* LINKS */
a {
	color: $color__link;
	text-decoration: none;
	cursor: pointer;

	// &:visited {
	// 	color: $color__link-visited;
	// }

	// &:hover,
	// &:focus,
	// &:active {
	// 	color: $color__link-hover;
	// }

	// &:focus {
	// 	outline: thin dotted;
	// }

	&:hover,
	&:active {
		outline: 0;
	}
}

/* LISTS */

// ul,
// ol {
// 	margin: 0 0 1.5em 3em;
// }

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* TABLES */

table {
	margin: 0 0 1.5em;
	width: 100%;
}

.section-header {
	text-align: center;
	align-self: center;
	justify-self: center;
	margin-bottom: 1em;

	@media screen and (min-width: 992px) {
		margin-bottom: 3em;
	}

	h2 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.up-title {
	@include fluid-type($min_width, $max_width, 26px, 28px);
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 0.35em;
	display: block;
}

.text-colored {
	color: $color_main-theme;
}

.text-light {
	color: $color_text-light;
}

.text-dark {
	color: $color_text-dark;
}

.text-darkest {
	color: $color_text-darkest;
}

.txt-centered {
	text-align: center;
}

.my-preloader {
	height: 100vh;
	position: fixed;
	width: 100vw;
	background: white;
	z-index: 99999;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in;
	opacity: 1;
	top: 0;

	.preloader-content {
		background: url(../dist/img/yba-loader.png) no-repeat;
		display: block;
		height: 10em;
		width: 10em;
		background-size: contain;
		animation: mymove 1.5s infinite;
	}
}

@keyframes mymove {
	0% {
		transform: scale(1.1);
		opacity: 0;
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
		opacity: 0;
	}
}

.my-preloader-off {
	opacity: 0;
}

.my-preloader-none {
	display: none;
}

#page {
	opacity: 0;
}

.page-loaded {
	opacity: 1 !important;
	transition: all 0.3s ease-in;
}

#cookie-law-div {
	z-index: 10000000;
	opacity: 0;
	transition: all 0.3s ease-in 0s;
	position: fixed;
	width: 100%;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, 100%);
	padding: 1em 5em;
	border-radius: 0;
	background: $color__background-body;
	border: 1px solid rgba(0, 0, 0, 0.15);
	font-size: 15px;
	box-shadow: rgba(23, 43, 99, 0.4) 0px 7px 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row-reverse;
	animation: cookieInfoUp 1s forwards;

	transition: all 0.3s ease-in-out;

	@media screen and (max-width: 992px) {
		border-radius: 0;
		max-width: 100%;
		width: 100%;
		right: 0;
		bottom: 0;
		flex-flow: column-reverse;
	}

	@keyframes cookieInfoUp {
		0% {
			transform: translate(-50%, 100%);
			opacity: 0;
		}

		90% {
			transform: translate(-50%, 0%);
			opacity: 1;
		}

		100% {
			transform: translate(-50%, 0%);
			opacity: 1;
		}
	}
}

.cookie-law-accepted {
	transform: translate(-50%, 100%) !important;
	opacity: 0 !important;
}

#cookie-law-div a {
	font-size: 15px;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#cookie-law-div a:hover {
	opacity: 0.7;
}
#cookie-law-div p {
	margin: 0;
	color: $color_text-dark;

	@media screen and (max-width: 992px) {
		text-align: center;
	}
}

#cookie-law-div button {
	align-self: center;
	line-height: 40px;
	height: 40px;
	white-space: nowrap;
	color: #fff;
	background-color: $color_main-theme;
	border: none;
	// opacity: 0.6;
	font-size: 12px;
	cursor: pointer;
	border-radius: 50px;
	margin: auto 2em;
	transition: all 0.3s ease-in-out;
	padding: 0 2em !important;

	@media screen and (max-width: 992px) {
		margin: 1em auto auto;
	}
}
#cookie-law-div button:hover {
	opacity: 1;
}

#cookie-text {
	display: none;
}

.white-oval-button {
	background: $color_text-light;
	color: $color_text-dark;
	border-radius: 100rem;
	padding: 0.5em 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	// white-space: nowrap;
	@include fluid-type($min_width, $max_width, 10px, 18px);

	transition: all 0.3s ease-in-out;

	svg {
		path {
			transition: all 0.3s ease-in-out;
		}
	}

	&:hover {
		background: $color_text-dark;
		color: $color_text-light;

		svg {
			path:nth-of-type(2) {
				fill: $color_text-light;
			}
		}
	}
}

.white-oval-button-outline {
	background: $color_text-light;
	color: $color_main-theme;
	border-radius: 100rem;
	border: 3px solid $color_main-theme;
	padding: 0.5em 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	@include fluid-type($min_width, $max_width, 16px, 18px);
	// white-space: nowrap;
}

.orange-oval-button-outline {
	background: transparent;
	color: $color_main-theme;
	border-radius: 100rem;
	border: 3px solid $color_main-theme;
	padding: 1em 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	// white-space: nowrap;
	margin: auto;
	@include fluid-type($min_width, $max_width, 16px, 18px);
	transition: all 0.3s ease-in-out;

	&:hover {
		background: $color_main-theme;
		color: $color_text-light;
	}
}

.orange-oval-button {
	background: $color_main-theme;
	border: 2px solid $color_main-theme;
	color: $color_text-light;
	border-radius: 100rem;
	padding: 0.5em 1.5em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	// white-space: nowrap;
	@include fluid-type($min_width, $max_width, 16px, 18px);
	transition: all 0.3s ease-in-out;

	&:hover {
		background: transparent;
	}
}

.orange-oval-button-blog {
	background: $color_main-theme;
	border: 2px solid $color_main-theme;
	color: $color_text-light;
	border-radius: 100rem;
	padding: 0.5em 1.5em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	// white-space: nowrap;
	@include fluid-type($min_width, $max_width, 16px, 18px);
	transition: all 0.3s ease-in-out;

	&:hover {
		background: transparent;
		color: $color_main-theme;
	}
}

.orange-oval-button-scale {
	background: $color_main-theme;
	border: 2px solid $color_main-theme;
	color: $color_text-light;
	border-radius: 100rem;
	padding: 0.5em 1.5em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	// white-space: nowrap;
	@include fluid-type($min_width, $max_width, 16px, 18px);
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}
}

.orange-oval-button-overwrite {
	background: $color_main-theme !important;
	border: 2px solid $color_main-theme !important;
	color: $color_text-light !important;
	border-radius: 100rem !important;
	padding: 0.5em 1.5em;
	text-align: center !important;
	text-transform: uppercase !important;
	font-weight: 700 !important;
	// white-space: nowrap;
	@include fluid-type($min_width, $max_width, 11px, 18px);
	transition: all 0.3s ease-in-out;

	&:hover {
		background: transparent;
	}
}

.orange-oval-button-menu a {
	background: $color_main-theme;
	border: 2px solid $color_main-theme;
	color: $color_text-light;
	border-radius: 100rem;
	padding: 0.5em 1.5em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	// white-space: nowrap;
	@include fluid-type($min_width, $max_width, 16px, 18px);
	transition: all 0.3s ease-in-out;

	&:hover {
		background: transparent;
	}
}

.dark-oval-button {
	background: $color_dark-grey;
	color: $color_text-light;
	border-radius: 100rem;
	padding: 0.5em 1.5em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	// white-space: nowrap;
	@include fluid-type($min_width, $max_width, 18px, 20px);
	transition: all 0.3s ease-in-out;
	border: 2px solid $color_dark-grey;

	&:hover {
		transform: scale(1.05);
	}
}

/** modal styles**/
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: transparent;
	margin: auto;
	padding: 20px;
	border: 1px solid transparent;
	width: 90%;
	height: 95%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

/* The Close Button */
.close {
	// color: $fitness_red;
	float: right;
	font-size: 50px;
	font-weight: bold;
	height: 1em;
	width: 1em;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#hiddenValues {
	display: none !important;
}

.embed-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 95%;
}

iframe {
	@media screen and (max-width: 992px) {
		width: 90vw;
		height: 70vh;
	}

	width: 70vw;
	height: 70vh;
}

#player {
	position: relative;
}

#myIframe {
	display: block;
	position: relative;
}

.close-modal {
	position: absolute;
	top: -2em;
	right: -2em;
	background: rgba(0, 0, 0, 0.7);
	width: 2em;
	height: 2em;
	border-radius: 50%;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-opened {
	display: flex;
}

.modal-closed {
	display: none;
}

.divider-title {
	@include fluid-type($min_width, $max_width, 20px, 24px);
	text-align: center;
	margin: 0;
	padding-bottom: 60px;

	@media screen and (max-width: 992px) {
		padding: 1em;
	}
}

.regular-paragraph {
	@include fluid-type($min_width, $max_width, 16px, 18px);
}

.text-centered {
	text-align: center;
}

.small-header {
	text-transform: uppercase;
	color: $color_dark-grey;
	font-weight: 600;
	@include fluid-type($min_width, $max_width, 14px, 16px);
}
