.about-welcome {
	background: $background_graphite;

	@media screen and (min-width: 992px) {
		padding: 4em 10em 10em 10em;
	}

	&__image {
		transform: translateY(-10em);
		display: flex;

		img {
			margin: auto;
			object-fit: contain;
			width: 100%;
			max-width: 100%;
		}
	}
}

.about-bottom-banner {
	.section-header {
		h2 {
			text-align: left;
			line-height: 0.8em;
		}
	}
	.up-title {
		margin-bottom: 1em;
	}
}

.about-content {
	color: $color_text-dark;
	margin-top: -10em;
	display: flex;
	flex-wrap: wrap;
	padding-top: 0;

	.about-story {
		width: 50%;
		padding: 0 2em;

		h4 {
			text-transform: initial;
		}

		p {
			@include fluid-type($min_width, $max_width, 16px, 18px);
		}
	}
}
