.section-welcome {
	height: 105vh;

	display: flex;
	flex-flow: column;
	justify-content: flex-end;

	color: $color_text-light;

	.welcome-text {
		margin-bottom: 2em;

		span {
			padding: 1em 0;
		}

		p {
			width: 45%;
			@include fluid-type($min_width, $max_width, 28px, 32px);
			line-height: 1.4em;
			margin-top: 0em;
		}
	}

	.awards-promo-wrapper {
		margin-bottom: 1.5em;
	}

	.orange-oval-button {
		margin-right: 1em;
	}

	.awards-promo-banner {
		width: 80%;
		&__logo {
			img {
				object-fit: contain;
				height: 4em;
			}
		}
	}

	.signature {
		text-align: center;
		align-self: flex-end;
		// margin-top: 6em;
		@include fluid-type($min_width, $max_width, 14px, 16px);
	}
}

.section-home-help {
	display: flex;
	justify-content: flex-start;
	background-size: cover;
	background-position: center;

	#myIframe {
		iframe {
			height: 40em;
			width: 77em;
		}
	}
}

.text-part {
	width: 50%;
	padding: 3em;

	color: $color_text-light;

	p {
		@include fluid-type($min_width, $max_width, 20px, 24px);
	}

	.dark-oval-button {
		width: 80%;
	}
}

.video-part {
	width: 50%;
	background-size: contain;
	justify-content: center;
	align-items: center;
	position: relative;

	#videoContainer {
		display: block;
		cursor: pointer;
		width: 40em;
		height: 40em;
		background-size: contain;
		background-position: center;
	}
}

.section-awards-carousel {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	.section-header {
		margin-bottom: 2em;
	}

	.swiper-container {
		overflow: hidden;
		width: 100%;
	}
	.swiper-wrapper {
		transition-timing-function: linear;

		.swiper-slide {
			text-align: center;

			img {
				height: 3em;
			}
		}
	}

	.swiper-scrollbar {
		display: none;
	}

	.swiper-button-prev {
		left: -1em;
		display: none;
	}

	.swiper-button-next {
		right: 1em;
		display: none;
	}
}

.home-clients-reviews {
	background-color: $color_main-theme;

	.single-review {
		width: 33%;
		margin: 1em;
	}

	.client-img {
		height: 8em;
		background-size: contain;
		width: 8em;
		border-radius: 100%;
		margin: 1em 0;
	}

	.client-review {
		height: 18em;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: flex-start;
		border: 3px solid $color_text-light;
		border-radius: 25px;
		padding: 1.5em;
		margin-bottom: 1em;
		color: $color_text-light;

		p:first-child {
			height: 8em;
		}

		a {
			align-self: flex-end;
		}
	}

	.client-signature {
		background-color: $color_dark-grey;
		padding: 0 2em;

		p {
			margin-bottom: 1em;
			margin-top: 1em;
		}
	}
}
