section.whyus-ingriedents {
	padding: 0 0em 4em 0em;

	@media screen and (min-width: 992px) {
		padding: 4em 10em 4em 10em;
	}
}

.section-why-us-welcome {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	background-size: cover;
	background-position: center;
	background-color: $background_dark-grey;

	@media screen and (min-width: 992px) {
		flex-flow: row;
	}

	// #myIframe {
	// 	iframe {
	// 		height: 40em;
	// 		width: 77em;
	// 	}
	// }

	&__header {
		justify-content: space-around;

		@media screen and (max-width: 992px) {
			text-align: center;
		}

		@media screen and (min-width: 992px) {
			width: 50%;
		}

		p {
			@include fluid-type($min_width, $max_width, 22px, 26px);
		}
	}

	.orange-oval-button-scale {
		max-width: 400px;
		margin: auto;

		@media screen and (min-width: 992px) {
			width: 70%;
			max-width: none;
			margin: inherit;
		}
	}

	.video-part {
		@media screen and (max-width: 992px) {
			margin-top: 3em;
		}
	}
}

.ingredient-wrapper:first-of-type {
	background: $background_graphite;
}

.ingredient-wrapper:nth-of-type(3) {
	background: $color_main-theme;
}

.ingredient-wrapper:nth-of-type(5) {
	background: $background_dark-grey;
	color: $color_dark-grey;
}

.ingredient-wrapper {
	padding: 5em 2em;
	position: relative;

	@media screen and (min-width: 992px) {
		padding: 3em 5em;
	}

	.ingredient-upper {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 500px) {
			align-items: center;
			padding: 0;
			margin-bottom: 1em;
			flex-flow: column;
		}

		@media screen and (min-width: 1300px) {
			padding: 2em 2em 0;
		}

		.ingredient-title {
			display: flex;

			@media screen and (max-width: 992px) {
				align-self: flex-start;
				margin-bottom: 1em;
			}

			span:nth-of-type(1) {
				line-height: 0.8;
			}

			span:nth-of-type(2) {
				line-height: 1.2;
			}
		}

		.ingredient-title__numeric {
			font-size: 7em;
			font-weight: 700;
			font-family: $font_headers;
		}

		.ingredient-title__text {
			@include fluid-type($min_width, $max_width, 26px, 32px);
			width: 5em;
			margin-left: 1em;
		}

		img {
			width: 5em;
		}
	}

	.ingredient-main {
		display: flex;

		@media screen and (max-width: 1300px) {
			flex-flow: column;
		}

		.ingredient-content {
			@media screen and (min-width: 1300px) {
				width: 60%;
				padding: 0 2em 2em;
			}

			p {
				@include fluid-type($min_width, $max_width, 16px, 18px);
			}
		}

		.video-part {
			padding: 2em;
			@media screen and (max-width: 1300px) {
				width: 100%;
			}
		}
	}
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	margin: auto;
}

.arrow-down__graphite {
	border-top: 50px solid $background_graphite;
}

.arrow-down__bg-body {
	border-top: 50px solid $color__background-body;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.arrow-down__main-theme {
	border-top: 50px solid $color_main-theme;
}

.arrow-down__dark-grey {
	border-top: 50px solid $background_dark-grey;
}

.apply-banner {
	padding: 10em 2em;
	position: relative;
	background-position: center;

	@media screen and (min-width: 992px) {
		padding: 8em 16em;
	}

	text-align: center;

	p {
		@include fluid-type($min_width, $max_width, 16px, 18px);
	}
}

.whyus-main {
	.section-book-in-call {
		margin-bottom: 0;
	}
}

.why-us-form {
	background-color: $background_dark-grey;

	.wpcf7-form {
		input {
			width: 100%;
			padding: 1em;
			color: $color_dark-grey;
			border: 1px solid #ccc;
		}

		p {
			color: $color_dark-grey;
			margin-top: 0;
			margin-bottom: 1em;
		}

		textarea {
			padding: 1em;
		}

		.wpcf7-acceptance {
			input[type="checkbox"] {
				position: relative;
				cursor: pointer;
				padding: 0;
				margin-right: 15px;
				width: 40px;
			}
			input[type="checkbox"]:before {
				content: "";
				margin-right: 10px;
				display: inline-block;
				margin-top: -2px;
				width: 35px;
				height: 35px;
				background: $background_dark-grey;
				border: 2px solid $color_main-theme;
				border-radius: 100%;
			}

			input[type="checkbox"]:checked:before {
				background: $color_main-theme;
				border-color: $color_main-theme;
			}
			input[type="checkbox"]:disabled {
				color: #b8b8b8;
				cursor: auto;
			}
			input[type="checkbox"]:disabled:before {
				box-shadow: none;
				background: #ddd;
			}
			input[type="checkbox"]:checked:after {
				content: "";
				position: absolute;
				left: 12px;
				top: 14px;
				background: white;
				width: 3px;
				height: 3px;
				box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
					4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
				transform: rotate(45deg);
			}

			span.wpcf7-list-item {
				margin: 20px 0 0 0;

				label {
					display: flex;
					@media screen and (max-width: 600px) {
						flex-flow: column;
						align-items: center;
						input {
							margin-bottom: 2em;
							margin-right: 0;
						}
					}
				}
			}

			.wpcf7-list-item-label {
				font-size: 1.15em;
			}
		}

		@media screen and (min-width: 992px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 1em;

			// p:nth-of-type(2) {
			// 	border: 1px solid pink;
			// }

			p:nth-of-type(5) {
				grid-column-start: 1;
				grid-column-end: 3;
			}

			p:nth-of-type(6) {
				grid-column-start: 1;
				grid-column-end: 3;

				label {
					display: flex;
				}
			}

			p:nth-of-type(7),
			.wpcf7-response-output {
				grid-column-start: 1;
				grid-column-end: 3;
			}

			.wpcf7-submit {
				font-size: 1.25em;
				width: 50%;
				cursor: pointer;
			}

			.wpcf7-response-output {
				color: $color_text-dark;
			}

			.wpcf7-not-valid-tip {
				margin-top: 10px;
			}
		}
	}
}
