/* POSTS AND PAGES */
.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* ASIDES */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* COMMENTS */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

section {
	padding: 3em 1em 2em 1em;

	@media screen and (min-width: 992px) {
		padding: 4em 2em 4em 2em;
	}

	@media screen and (min-width: 1400px) {
		padding: 4em 10em 4em 10em;
	}
}

article {
	padding: 4em 1em 4em 1em;

	@media screen and (min-width: 992px) {
		padding: 4em 8em 4em 8em;
	}

	@media screen and (min-width: 1400px) {
		padding: 4em 20em 4em 20em;
	}
}

.call-us {
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		margin-right: 0.5em;
	}
}

.entry-content p {
	@include fluid-type($min_width, $max_width, 16px, 18px);
}
