footer {
	background: $background_graphite;

	@media screen and (max-width: 992px) {
		text-align: center;
	}

	@media screen and (min-width: 992px) {
		padding: 4em 2em;
	}

	@media screen and (min-width: 1400px) {
		padding: 4em 10em;
	}

	.footer-upper {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 992px) {
			flex-flow: column;
			padding: 3em;

			.site-branding {
				margin-bottom: 1em;
			}
		}

		.footer-navigation {
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;

			// .menu,
			// .flex-wrapper {
			// 	width: 100%;
			// }

			.menu-footer-menu-container {
				@media screen and (max-width: 992px) {
					display: none;
				}
			}

			.call-us {
				@media screen and (max-width: 992px) {
					display: none;
				}
			}

			.footer-contact-wrapper {
				@media screen and (max-width: 992px) {
					flex-flow: column;
				}
			}

			.orange-oval-button {
				@media screen and (max-width: 992px) {
					margin-bottom: 1em;
				}
			}

			ul {
				display: flex;
				justify-content: flex-end;

				li {
					a {
						@include fluid-type($min_width, $max_width, 18px, 20px);
						text-transform: uppercase;
					}
				}
			}
		}

		.call-us {
			margin: 0 2em;
		}
	}

	p {
		padding: 0 2em;
	}
}

.social-buttons__wrapper a {
	width: 3em;
	height: 3em;
	display: flex;
	border-radius: 100%;
	background: $color_text-light;
	margin: 0.5em;
	transition: 0.3s ease-in-out;

	svg {
		height: 1.5em;
		width: 1.5em;
		margin: auto;

		path {
			fill: $color_text-dark;
			transition: 0.3s ease-in-out;
		}
	}

	&:hover {
		transform: scale(1.1);
		svg {
			path {
				fill: $color_main-theme;
			}
		}
	}
}
