.apply-button {
	@media screen and (max-width: 992px) {
		display: none;
	}
}

.apply-button-short {
	display: none;
	margin-right: 2em;

	@media screen and (max-width: 992px) {
		display: block;
	}

	@media screen and (max-width: 600px) {
		display: none;
	}
}

.call-us-on {
	display: none;
	@media screen and (min-width: 992px) {
		display: block;
		@include fluid-type($min_width, $max_width, 18px, 20px);
	}
}

.call-us {
	@media screen and (max-width: 992px) {
		background-color: $background_graphite;
		color: $color_text-light;

		svg {
			fill: $color_text-light;
		}
	}
}
